<div class="col-lg-12 module-registration">
    <div class="cart-title">
        <h2>Registration</h2>
    </div>
    
    <form action="#" method="post">
        <div class="row">
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" id="first_name" value="" placeholder="First Name" required>
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" id="last_name" value="" placeholder="Last Name" required>
            </div>
            <div class="col-12 mb-3">
                <input type="text" class="form-control" id="company" placeholder="Company Name" value="">
            </div>
            <div class="col-12 mb-3">
                <input type="email" class="form-control" id="email" placeholder="Email" value="">
            </div>
            <div class="col-12 mb-3">
                <textarea name="comment" class="form-control w-100" id="comment" cols="30" rows="10" placeholder="Leave a comment about your order"></textarea>
            </div>
    
            <div class="col-12">
                <div class="custom-control custom-checkbox d-block mb-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">Create an accout</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group text-center">
                    <button type="submit" class="btn amado-btn">Register</button>
                </div>
            </div> 
        </div>
    </form>
</div>